<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConnectMe.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <ConnectMe.Properties.Settings>
            <setting name="Mode" serializeAs="String">
                <value>Dark</value>
            </setting>
            <setting name="Item1" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="Item2" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="Item3" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="Item4" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="Item5" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="Item1IsOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Item2IsOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Item3IsOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Item4IsOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Item5IsOn" serializeAs="String">
                <value>False</value>
            </setting>
        </ConnectMe.Properties.Settings>
    </userSettings>
</configuration>